.best-sellers-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-card {
  border: 1px solid #eee;
  padding: 10px;
  text-align: center;
}

.product-card img {
  width: 100%;
  object-fit: cover;
}

.product-card h3 {
  font-size: 16px;
  margin: 10px 0 5px;
}

.product-card .price {
  font-weight: bold;
  margin-bottom: 10px;
}

.color-swatches {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}

.color-swatches .swatch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
}

.view-all-btn {
  color:#1F727C;
  font-weight: 600;
  transition: all 0.3s ease;
  font-family: 'Cambon', sans-serif;
}

.view-all-btn:hover {
  color: #145A61;
}