.promo-banner-section {
margin-top: 60px;
  background: #1F727C;
  color: white;
  padding: 43px 20px;
  position: relative;
  overflow: hidden;
}

.promo-banner-overlay {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.vector1{
    position: absolute;
    right: 85.33%;
    bottom: -30.66%;
}

.vector2{
    position: absolute;
    left: -11%;
    right: 51.89%;
    top: -3%;
}

.vector3{
    position: absolute;
    left: 30.17%;
    right: 48.35%;
    bottom: -19.82%;
}

.vector4{
    position: absolute;
    left: 35%;
    right: 48.35%;
    top: -17.72%;
}

.vector5{
    position: absolute;
    left: 55.79%;
    right: 31.21%;
    top: -18%;
    bottom: -2.94%;
}

.vector6{
    position: absolute;
    right: -3.64%;
    bottom: 7.54%;
}

.vector7{
    position: absolute;
    right: -11%;
    bottom: -22%;
}

.adaptive-svg {
    width: 100%;
    height: auto;
}
.promo-banner-content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.promo-text {
  flex: 1;
  min-width: 300px;
}

.limited-time {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  font-family: 'Beatrice', sans-serif;
}

.sale-text {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
  font-family: 'Cambon', sans-serif;
}

.shop-now-btn {
  display: inline-block;
  color: white;
  background: #FF8674;
  padding: 15px 40px;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Cambon', sans-serif;
  transition: all 0.3s ease;
    border: 1px solid transparent;
}

.shop-now-btn:hover {
  background: #ffffff;
  color: #1F727C;
  border: 1px solid #1F727C;
}

.shop-now-btn:active {
  background: #ffffff;
  color: #FF8674;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}


.countdown-timer {
  text-align: center;
  flex: 1;
  min-width: 300px;
}

.timer-numbers {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: 'Cambon', sans-serif;
  letter-spacing: 2px;
}

.timer-labels {
  display: flex;
  justify-content: space-between;
  max-width: 290px;
  margin: 0 auto;
  font-family: 'Cambon', sans-serif;
  font-size: 14px;
}

@media (max-width: 1201px) {
    .promo-banner-section {
        max-width: 100%;
        overflow: hidden;
    }
    
    .promo-banner-content {
        max-width: 90%;
        margin: 0 auto;
        position: relative;
        z-index: 2;
    }
    
    .vector1 { 
       width: 200px; 
       height: auto;
       left: -10%;
       bottom: -38%;
       transform: translate(0, 0);
    }
    
    .vector2 { 
        width: 400px; 
        height: auto;
        top: -43%;
        left: -10.50%;
        transform: translate(0, 0);
    }
    
    .vector3 { 
        width: 180px; 
        height: auto;
        transform: translate(0, 0);
    }
    
    .vector4 { 
        width: 40px; 
        height: auto;
        top: -50%;
        right: 10%;
        transform: translate(0, 0);
    }
    
    .vector5 { 
        width: 180px; 
        height: auto;
        top: -34%;
        transform: translate(0, 0);
    }
    
    .vector6 { 
        width: 180px; 
        height: auto;
        right: 5%;
        bottom: -8%;
        transform: translate(0, 0);
    }
    
    .vector7 { 
        width: 300px; 
        height: auto;
        right: 1%;
        bottom: -37%;
        transform: translate(0, 0);
    }

      .vector1, .vector2, .vector3, .vector4, 
    .vector5, .vector6, .vector7 {
        transform: scale(0.9);
    }
    
    .sale-text {
        font-size: 3rem !important;
    }
    
    .limited-time {
        font-size: 1.2rem !important;
    }
    
    .shop-now-btn {
        padding: 12px 30px !important;
        font-size: 1rem !important;
    }

    .timer-numbers {
        font-size: 4rem !important;
    }
    .timer-labels {
      max-width: 255px;
    }
}

@media (max-width: 1100px) {
  .vector1, .vector2, .vector3, .vector4, 
    .vector5, .vector6, .vector7 {
        transform: scale(0.8);
    }
}
  

@media (max-width: 768px) {
  .promo-banner-content {
    flex-direction: column;
    text-align: center;
  }
  .limited-time {
    font-size: 30px!important;
    font-weight: bold;
  }
  
  .sale-text {
    font-size: 24px!important;
  }
  
  .timer-numbers {
    font-size: 36px;
  }
  
  .shop-now-btn {
    padding: 15px 28px!important;
    font-size: 15px!important;
  }

  .vector1, .vector2, .vector5 {
      display: none;
  }

  .vector3{
    left: -10%;
    top: -29%;
  }
  .vector4{
    left: 2%;
    top: -19%;
  }
  .vector6{
      left: 38%;
      top: 35%
  }
  .vector7{
    top: 69%;
  }
}
